@import url('https://fonts.googleapis.com/css2?family=Prosto+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+SemiExpanded:ital,wght@0,200..900;1,200..900&display=swap');
@import 'tailwindcss';
@import 'tailwindcss';

.material-symbols-rounded {
    user-select: none;
    font-variation-settings: 'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
}

.material-symbols-rounded-thicc {
    user-select: none;
    font-variation-settings: 'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
}

@theme {
    --font-logo: 'Prosto One', cursive;
    --font-sans: 'Zalando Sans SemiExpanded', sans-serif;
    --color-brand-primary: var(--color-red-600);
    --color-brand-dark: var(--color-red-800);
}